@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-primary: #22c55e;
  --color-secondary: #27272a; /* zinc-800 */
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
